<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personServiceBeforeGetAdvice" class="com.qiaogh.aop.PersonServiceBeforeGetAdvice" />
    
    <bean id="personServiceBeforeGetAdvisor" class="org.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="personServiceBeforeGetAdvice" />
        <property name="expression" value="execution( public com.qiaogh.domain.User com.qiaogh.service.PersonService.get( java.lang.String ) )" />
    </bean>
    
    <bean id="basicPersonService" class="com.qiaogh.service.impl.PersonServiceImpl" />
    
    <bean id="personService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="basicPersonService" />
        <property name="interceptorNames">
            <list>
                <value>personServiceBeforeGetAdvisor</value>
            </list>
        </property>
    </bean>
</beans>