<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
    <import resource="classpath:spring-basic.xml"/>
    
    <bean id="nestedTransactionPersonService" class="com.qiaogh.service.impl.ExceptionPersonServiceImpl" parent="personService" />
    
    <bean id="componentPersonService" class="com.qiaogh.service.impl.ComponentPersonServiceImpl">
        <property name="basePersonService" ref="personService" />
        <property name="exPersonService" ref="nestedTransactionPersonService" />
    </bean>
    
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="*" rollback-for="com.qiaogh.exception.RollbackForException" no-rollback-for="com.qiaogh.exception.NoRollbackForException" />
        </tx:attributes>
    </tx:advice>
    
    <tx:advice id="nestedAdvice">
        <tx:attributes>
            <tx:method name="*" propagation="NESTED" rollback-for="com.qiaogh.exception.RollbackForException" no-rollback-for="com.qiaogh.exception.NoRollbackForException" />
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <aop:pointcut id="componentPersonServiceOperation" expression="bean(componentPersonService)" />
        <aop:pointcut id="nestedTransactionPersonServiceOperation" expression="bean(nestedTransactionPersonService)" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="componentPersonServiceOperation" />
        <aop:advisor advice-ref="nestedAdvice" pointcut-ref="nestedTransactionPersonServiceOperation" />
    </aop:config>
</beans>