<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy />
    <aop:config>
        <aop:aspect id="personServiceAspect" ref="personServiceAspectBean">
            <aop:pointcut id="doGetPointcut" expression="within(com.qiaogh.service..*) and execution(public com.qiaogh.domain.Person com.qiaogh.service.PersonService.get(String))" />
            <aop:pointcut id="doUpdatePointcut" expression="within(com.qiaogh.service..*) and execution(public void com.qiaogh.service.PersonService.update(com.qiaogh.domain.Person)) and args( person )" />
            <aop:before method="beforeGet" pointcut-ref="doGetPointcut" />
            <aop:after method="afterGet" pointcut-ref="doGetPointcut" />
            <aop:after-returning method="afterGetReturning" pointcut-ref="doGetPointcut" returning="person" />
            <aop:after-throwing method="afterGetThrowing" pointcut-ref="doGetPointcut" throwing="ex" />
            <aop:around method="aroundUpdate" pointcut-ref="doUpdatePointcut" />
        </aop:aspect>
    </aop:config>
    
    <bean id="personServiceAspectBean" class="com.qiaogh.aspect.impl.PersonServiceAspectImpl" />
    
    <bean id="personService" class="com.qiaogh.service.impl.PersonServiceImpl" />
</beans>