<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="original" class="com.qiaogh.domain.User">
        <property name="childs">
            <list>
                <value>Qiaoyy</value>
                <value>Qiaoyc</value>
            </list>
        </property>
    </bean>
    
    <bean id="qiaogh" parent="original">
        <property name="id" value="1" />
        <property name="name" value="Qiaogh" />
        <property name="childs">
            <list merge="true">
                <value>Qiaoct</value>
            </list>
        </property>
    </bean>
</beans>