<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.qiaogh" />
    
    <bean id="qiaoxl" class="com.qiaogh.factory.SonFactory" factory-method="qiaoxl">
        <qualifier value="qiaoxl" />
    </bean>
    
    <bean id="qiaodl" class="com.qiaogh.factory.SonFactory" factory-method="qiaodl">
        <qualifier value="qiaodl" />
    </bean>
</beans>