<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
    <import resource="classpath:spring-basic.xml"/>
    
    <bean id="exceptionPersonService" class="com.qiaogh.service.impl.ExceptionPersonServiceImpl" parent="personService" />
    
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="*" no-rollback-for="com.qiaogh.exception.NoRollbackForException" rollback-for="com.qiaogh.exception.RollbackForException" />
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <aop:pointcut id="personServiceOperation" expression="execution(* com.qiaogh.service.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="personServiceOperation" />
    </aop:config>
</beans>