<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="qiaogh" class="com.qiaogh.domain.Person">
        <property name="id" value="1" />
        <property name="name" value="Qiaogh" />
        <property name="wife" ref="qiy" />
    </bean>

    <bean id="qiy" class="com.qiaogh.domain.Person">
        <property name="id" value="2" />
        <property name="name" value="Qiy" />
        <property name="husband" ref="qiaogh" />
    </bean>
</beans>