<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.qiaogh.domain.Student" scope="prototype" />
    
    <bean id="teacher" class="com.qiaogh.domain.Teacher">
        <lookup-method name="callNextStudent" bean="student" />
    </bean>
    
    <bean id="class" class="com.qiaogh.domain.Class">
        <property name="teacher" ref="teacher" />
    </bean>
</beans>