<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personService" class="com.qiaogh.service.impl.PersonServiceImpl" />
    <bean id="famliyService" class="com.qiaogh.service.impl.FamilyServiceImpl" />
    
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
    
    <bean id="personServiceBeforeGetAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice">
            <bean class="com.qiaogh.aop.BeforeGetMethodAdvice" />
        </property>
    </bean>
</beans>